# Since the ".env" file is gitignored, you can use the ".env.example" file to
# build a new ".env" file when you clone the repo. Keep this file up-to-date
# when you add new variables to `.env`.

# This file will be committed to version control, so make sure not to have any
# secrets in it. If you are cloning this repo, create a copy of this file named
# ".env" and populate it with your secrets.

# When adding additional environment variables, the schema in "/src/env.js"
# should be updated accordingly.

# Next Auth
# You can generate a new secret on the command line with:
# npx auth secret
# https://next-auth.js.org/configuration/options#secret
AUTH_SECRET="0kox7QZ6WU7P6q7WUHuZ6zbr1uRMuYv7Zz4CtzMbmoh2J/I7LH2eEejQvmM="

# Next Auth Discord Provider
AUTH_GITHUB_ID="Ov23lipz1yvcCaoyZqHj"
AUTH_GITHUB_SECRET="e24573c698d23ea5dcb6fb6545282cf7d4b4cc4d"

# Drizzle
DATABASE_URL=postgres://neondb_owner:npg_6UQalIS0ZTJc@ep-proud-water-a21e5lf5-pooler.eu-central-1.aws.neon.tech/neondb?sslmode=require

